<header class="header">
  <a href="">Node JS</a>
  <nav class="navigation">
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/products/addproduct">List Products</a></li>
      <li><a href="/products/updateproduct">Update Products</a></li>
      <li><a href="/products/deleteproduct">Delete Products</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>
